<div class="agile-header">
    <div class="agileits-contact-info text-right">
        <ul>
            <li>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <a href="mailto:>observario@nortedesantander.gov.co">observario@nortedesantander.gov.co</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(7) 575 5656 Ext. 1185</li>
        </ul>
    </div>
    <div class="w3_agileits_social_media">
        <ul>

            <li>
                <a href="#" class="wthree_facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" class="wthree_twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
           {{SUBMENU}}

        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<nav class="navbar navbar-default">
    <div class="row">
        <div class="col-md-4">
            <img style="height: 80px; width: auto" class="img-responsive" src="public/images/logo.png">
        </div>
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="col-md-8">
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--iris">
                    <ul class="nav navbar-nav menu__list">
                        <li class="menu__item">
                            <a href="index.php" class="menu__link">Inicio</a>
                        </li>
                        <li class="menu__item">
                            <a href="index.php?mode=quienes-somos" class="menu__link">Quienes Somos</a>
                        </li>
                        <li class="dropdown menu__item">
                            <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Boletines
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li>
                                    <a href="icons.html">Archivos</a>
                                </li>
                                <li>
                                    <a href="typography.html">Base de datos</a>
                                </li>
                                <li>
                                    <a href="typography.html">Estadisticas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__item">
                            <a href="index.php?mode=formularios" class="menu__link">Formularios</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>	