<div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th class="text-center info"># Formulario</th>
                <th class="text-center info">Fecha</th>
                <th class="text-center info">Zona</th>
                <th class="text-center info">Hecho</th>
                <th class="text-center info">Acciones</th>
            </thead>
            <tbody id="datos-tabla-formularios">
    
            </tbody>
        </table>
    </div>
    </div>
    <!--pagination-->
    <div class="text-right">
    <div class="paginacion">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
        <!--/pagination-->