<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th class="text-center info">Heho</th>
            <th class="text-center info">Año</th>
            <th class="text-center info">Acciones</th>
        </thead>
        <tbody id="datos-tabla-estadisticas">

        </tbody>
    </table>
</div>
</div>
<!--pagination-->
<div class="text-right">
<div class="paginacion">
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>
</div>
    <!--/pagination-->