<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">

<head>
	<title>{{TITULO}}</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Executive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="public/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="public/css/x0popup.css" rel="stylesheet" type="text/css" media="all" />
	<link href="public/css/x0popup.default.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="public/css/flexslider.css" type="text/css" media="screen" property="" />
	<!-- required-js-files-->
	<link href="public/css/owl.carousel.css" rel="stylesheet">
	<!-- js -->
	<script type="text/javascript" src="public/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- font-awesome icons -->
	<link href="public/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //font-awesome icons -->

	
	<!-- start-smoth-scrolling -->
</head>

<body>
	<!--CONTENIDO PAGINA WEB-->
	{{CONTENIDO}}
	<!--//CONTENIDO PAGINA WEB-->
	<!-- //what -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-w3layouts">
				<div class="col-md-12 footer-agileits">

                    <div id="owl-demo2" class="owl-carousel">
                        <div class="item-owl"><img src="public/images/logo-policia.png" class="img-responsive"/></div>
                         <div class="item-owl"><img src="public/images/logo-alta-consejeria.png" class="img-responsive"/></div>
                        <div class="item-owl"><h5>numero 3</h5></div>
                        <div class="item-owl"><p>numero 4</p></div>
                         <div class="item-owl"><p>numero 5</p></div>
                        <div class="item-owl"><p>numero 6</p></div>
					</div>
					<br>
                    
					<div class="clearfix"></div>
				</div>
				<div class="footer-w3-agile">
					<div class="row">

						<div class="col-md-4">
							<h3>Lista de difusión</h3>
							<form action="#" method="post" class="newsletter">
								<input class="email" type="email" placeholder="Ingresa tu E-mail..." required="">
								<input type="submit" class="submit" value="">
							</form>
						</div>
						<div class="col-md-3  w3ls-social-icons text-center">
							<h3>Siguenos</h3>
							<a class="facebook" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="instagram" href="#">
								<i class="fa fa-instagram"></i>
							</a>
						</div>
						<div class="col-md-5">
							<div class="footer-agile">
								<div class="row">
									<div class="col-md-1 text-right">
										<a href="https://www.google.com/maps/place/Gobernaci%C3%B3n+Norte+de+Santander/@7.8830457,-72.505069,17z/data=!3m1!4b1!4m5!3m4!1s0x8e66459ea09b671d:0x7d1729f57c2ee03b!8m2!3d7.8830404!4d-72.5028803">
											<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
										</a>
									</div>
									<div class="col-md-11">
										<p>&nbsp;&nbsp;Avenida 5 Calle 13 y 14 Palacio de la Gobernación,</p><p>&nbsp;&nbsp;Segundo piso Oficina 2-9, Secretaria de Gobierno</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<div class="copy-right-agile">
					<p>© 2018 Gobernación de Norte de Santander | Design by
						<a href="http://w3layouts.com/">W3layouts</a>
					</p>
				</div>
			</div>
		</div>
		<!-- //footer -->

		<!-- here stars scrolling icon -->
		<script type="text/javascript">

			$(document).ready(function () {
				$("#owl-demo").owlCarousel({
					items: 1,
					lazyLoad: true,
					autoPlay: true,
					navigation: true,
					navigationText: false,
					pagination: true,
				});
				$("#owl-demo2").owlCarousel({
					items: 3,
					lazyLoad: true,
					autoPlay: true,
					navigation: false,
					navigationText: false,
					pagination: false,
				});

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<!-- //here ends scrolling icon -->
			<!-- flexSlider -->
			<script defer src="public/js/jquery.flexslider.js"></script>
			<script type="text/javascript">
				$(window).load(function () {
					$('.flexslider').flexslider({
						animation: "slide",
						start: function (slider) {
							$('body').removeClass('loading');
						}
					});
				});
			</script>
			<!-- //flexSlider -->
<!-- archivos javascript -->
<script src="public/js/bootstrap.js"></script>
<script type="text/javascript" src="public/js/move-top.js"></script>
<script type="text/javascript" src="public/js/easing.js"></script>
<script src="public/js/owl.carousel.js"></script>
<script src="public/js/x0popup.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		});
	});
</script>
</body>

</html>