<!-- MENU -->
<div class="banner1">
    <div class="container">
         {{MENU}}
    </div>
</div>
<!-- //MENU -->
	<!-- //banner -->
	<div class="container">
		<!-- CONTENIDO PAGINA WEB-->
		<br>
		<div class="row views-row">
			<div class="col-md-6">
				<img src="public/images/1.jpg" class="img-responsive">
			</div>
			<div class="col-md-6">
				<h2 class="quienes-somos">Misión</h2>
				<br>
				<div class="contenido-quienes-somos">Liderar el desarrollo armónico del territorio Nortesantandereano mediante la gestión integral, impulsando la participación
					comprometida de todos los actores de la sociedad con fundamento en los principios de equidad, transparencia y sustentabilidad.</div>
			</div>
		</div>

		<div class="row views-row">
			<br>
			<div class="col-md-6">
				<h2 class="quienes-somos">Visión</h2>
				<br>
				<div class="contenido-quienes-somos">En el año 2021 La Gobernación de Norte de Santander será la institución modelo en gestión pública territorial para los
					departamentos de frontera, integrada por un equipo humano altamente calificado y comprometido con la calidad en el desempeño
					de sus actividades y la prestación de servicios a la comunidad.</div>
			</div>
			<div class="col-md-6">
				<img src="public/images/1.jpg" class="img-responsive">
			</div>
		</div>
		<div class="row views-row">
			<br>
			<div class="col-md-12">
				<h2 class="quienes-somos">Objetivos</h2>
				<br>
				<div class="contenido-quienes-somos">En el año 2021 La Gobernación de Norte de Santander será la institución modelo en gestión pública territorial para los
					departamentos de frontera, integrada por un equipo humano altamente calificado y comprometido con la calidad en el desempeño
					de sus actividades y la prestación de servicios a la comunidad.</div>
			</div>
		</div>
		<div class="row views-row">
			<br>
			<div class="col-md-12">
				<h2 class="quienes-somos">¿Donde Nace?</h2>
				<br>
				<div class="contenido-quienes-somos">En el año 2021 La Gobernación de Norte de Santander será la institución modelo en gestión pública territorial para los
					departamentos de frontera, integrada por un equipo humano altamente calificado y comprometido con la calidad en el desempeño
					de sus actividades y la prestación de servicios a la comunidad.</div>
			</div>
		</div>
		<div class="row views-row">
			<br>
			<div class="col-md-12">
				<h2 class="quienes-somos">¿Que hacemos?</h2>
				<br>
				<div class="contenido-quienes-somos">En el año 2021 La Gobernación de Norte de Santander será la institución modelo en gestión pública territorial para los
					departamentos de frontera, integrada por un equipo humano altamente calificado y comprometido con la calidad en el desempeño
					de sus actividades y la prestación de servicios a la comunidad.</div>
			</div>
		</div>

		<br>
	</div>
